<div class="navbar navbar-inverse navbar-static-top" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" rel="home" href="/" title="The Bottom Groove - Homepage">Bottom Groove</a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">

    <ul class="nav navbar-nav">
      <a href = "#" class="pull-left"><img src="/Users/jaichelman/bottom-groove/src/favicon.ico"></a>
      <li class="nav-img"></li>
      <li class = "navitem"><a class="nav-link" routerLink="home">HOME</a></li>
      <li class = "navitem"><a class="nav-link" routerLink="blogs">BLOGS</a></li>
      <li class = "navitem"><a class="nav-link" routerLink="proshop">PRO SHOP</a></li>
      <li class = "navitem"><a class="nav-link" routerLink="about">ABOUT</a></li>
    </ul>
<!--<p>hello</p>-->
    <div class="col-sm-3 col-md-3 pull-right">
      <form class="navbar-form" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
